:root {
  --app-accent-color-rgb: var(--tg-theme-accent-text-color);
}
.profile.p-button {
  color: var(--tg-theme-accent-text-color);
  background: var(--tg-theme-bg-color);
  border: 1px solid var(--tg-theme-accent-text-color);
  padding: 0.75rem 1.25rem;
  font-size: 0.75rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 6px;
}

.profile.p-button:focus {
  box-shadow: 0 0 0 0 #000, 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
}

.profile.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0rem rgba(0, 0, 0, 0);
  border-color: var(--tg-theme-accent-text-color);
}

.profile.p-inputtext:enabled:hover {
  border-color: var(--tg-theme-accent-text-color);
}

span.profile {
  color: var(--tg-theme-accent-text-color);
}